# basic pandas attribute and methods

In [3]:
import pandas as pd
# create a table with 2D array and defind the header with columns, defind row leader with index!!
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A","B", "C"], index=["first", "second", "third", "Forth"])

In [ ]:
df.head(2) # show top 2 row, default 5asd

        A  B  C
first   1  2  3
second  4  5  6

In [ ]:
df.tail(2) # show bottom 2 row ,default 5

   A  B  C
1  4  5  6
2  7  8  9

In [ ]:
# show headers in columns 
# # return pandas series not a list!
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
# this shows the header in rows, call it index!!!
# return pandas series not a list!
df.index

RangeIndex(start=0, stop=3, step=1)

In [40]:
df.values
# return pandas series not a list!

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
# return a tuple of vector2 descrpe how many row and colun in the data!!! row first
df.shape

(4, 3)

In [ ]:
#an attribute (not a method) that returns the total number of elements (cells)
df.size

12

In [33]:
# access one column by name
df['A']

first     1
second    4
third     7
Name: A, dtype: int64

In [ ]:
# tolist is not python bild in, it convert NumPy arr and pandas series into python list!!!
df.index.tolist() 
df.columns.tolist()
df.values.tolist()

['A', 'B', 'C']

In [ ]:
df.info()
# print out info summary
# Calls the method and prints the DataFrame summary.

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, first to third
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [ ]:
#  provides summary statistics for numerical and categorical columns in a DataFrame
# count: Number of non-null values.
# mean: Average value.
# std: Standard deviation (measure of spread).
# min: Minimum value.
# 25%: 25th percentile (1st quartile).
# 50%: Median (2nd quartile, 50%).
# 75%: 75th percentile (3rd quartile).
# max: Maximum value.
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
#find uniq value in each column
df.nunique()

A    4
B    4
C    4
dtype: int64

In [ ]:
# return a pandas series of uniq value in column 'A'
df['A'].unique()