# Loading in dataFrames from Files

In [ ]:
import pandas as pd
# read local csv file,!!! the link can be online raw file link!!!
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [9]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35